{% extends "network/layout.html" %}

{% block body %}
    <div id="title" class="container p-3">
        All Posts
    </div>
    {% if user.is_authenticated %}
    <!-- New Post -->
    <div id="compose-view" class="container p-3">
        <div class="border rounded p-3">
            <h4>New Post</h4>
            <form id="compose-form">
                <div class="form-group">
                    <textarea class="form-control" id="post-content" placeholder="Write a post."></textarea>
                </div>
                <input type="submit" id="submit" class="btn btn-primary" value="post">
            </form>
        </div>
    </div>
    {% endif %}

    <!-- All Posts -->
    <div id="post-view" class="container p-3">
    </div>
    
    <!-- Profile Page -->
    <div id="profile-view" class="container p-3">
    </div>

{% endblock %}


