{% extends "network/layout.html" %}
{% block title %}{{username}}'s profile{% endblock %}
{% block body %}
<div id="title" class="container p-3">
    <h3>{{ username }}</h3>
    {% if user.is_authenticated and user.id != writerid %}
    <form action="{% url 'profile' writerid %}" method="post">
        {% csrf_token %}
        {% if not isFollowing %}
        <input type="submit" class="btn btn-primary" value="Follow"></button>
        <input type="hidden" name="follow" value="y">
        {% else %}
        <input type="submit" class="btn btn-primary" value="Unfollow"></button>
        <input type="hidden" name="follow" value="n">
        {% endif %}
    </form>
    {% endif %}

    <div class="mt-3">
        <div>Followers : <span>{{ followerNum }}</span></div>
        <ul>
            {% for follower in followers %}
            <li>{{ follower.user }}</li>
            {% endfor %}
        </ul>
        <div>Following : <span>{{ followingNum }}</span></div>
        <ul>
            {% for following in followings %}
            <li>{{ following.following }}</li>
            {% endfor %}
        </ul>
    </div>
</div> 

<div id="profile-view" class="container p-3">
</div>

<div hidden id="writerid">{{ writerid }}</div>
{% endblock %}